.notification {
	color: #664d03;
	background-color: #fff3cd;
	border-color: #ffecb5;

	position: relative;
	padding: 1rem 1rem;
	margin-bottom: 1rem;
	border: 1px solid transparent;
	border-radius: 0.25rem;
	
}